
@import 'stylesheets/reset.css';
@import 'stylesheets/less/grid.less';



//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
//@total-width: 100%;


////////////
// LAYOUT //
////////////



// main column & sidebar

#visual-portal-wrapper {

	}
#portal-columns, #portal-footer-wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	}

.column-container {
	width:800px;
	margin-left: auto;
	margin-right: auto;
}

#portal-top {
	width: 100%;
	display: block;
	}	
	#portal-footer, #portal-colophon, #portal-siteactions {
	.column(10);
	.push(1);
	}
	
#portal-columns {
	display: block;
}

#portal-logo {
	.column(3);
	.push(1);
}

#portal-header {
	.row(12);
	#portal-globalnav {
		//.column(6);
		.column(6,12);
			.push(1);
	}
	#portal-subtitle {
		.column(6);
		//.column(6,12);
			.push(1);
	}
}
#portal-column-content {
	.column(6);
	.push(1);
}
#portal-column-one {
	.column(3);
	.push(1);
}


#portal-footer {
	.column(6);
	.push(3);
}

section.home-copy.fullwidthsectionwithnotitle {
	.content {
		.column(6);
		.push(2);
		font-size:1.5em;
	}
}
section.home-copy.twocolumnsection h2 {
		.column(2);
		
	}

section.home-copy {
width:100%;
	.content {
		.column(5);
		.push(1);
		}
	h2 {
		.column(2);
		.push(1);
		
	}

	h4 {
		}
	h5 {
		.column(6);
		.push(1);
		}

	.colA {
		.column(3);
		.push(1);
	}
	.colB {
		.column(3);
	}
}





	


@media screen and (max-width: 720px) {
	#portal-column-content,
	#portal-column-one {
		.column(5);
		margin-bottom: 1em;
	}
}
